{% extends "base.html" %}

{% block content %}
<h1 class="top">ABOUT US</h1>
          <p>
            Old Town Playgroup has been providing childcare services for local residents for over 30 years. 
        
            Qualified staff with level 2 & 3 qualifications in childcare and fluent in many languages.
            
            Staff to children ratios always meets the requirement of Early Years Foundation Stage(EYFS). 
            
            We have good relationship with children and parents which is reflected in our 2015 Ofsted inspection report.
            
            We have many staff who have had training to support children with Special Educational Needs and Disability (SEND)
          </p>
          <table>
            <tr>
              <th>Age Range</th><th>Cost</th> <th>CostType</th>
            </tr>
            <tr>
              <td>2yr-5yr</td><td>£5</td><td>per session</td>
            </tr>
          </table>
{% endblock content%}